<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="takeMoment.alina">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name="takeMoment.alina.MainActivity"
            android:theme="@style/LogInTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="takeMoment.alina.SignUpActivity"
            android:parentActivityName="takeMoment.alina.MainActivity" />
        <activity
            android:name="takeMoment.alina.homepage.HomepageActivity"
            android:parentActivityName="takeMoment.alina.MainActivity" />
        <activity
            android:name="takeMoment.alina.homepage.EditProfileActivity"
            android:parentActivityName="takeMoment.alina.homepage.HomepageActivity" />
        <activity android:name="takeMoment.alina.homepage.WebViewActivity"></activity>
    </application>

</manifest>